@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --bg-second-color: #F0F3F6;
    --bg-color: #FFFFFF;
    --text-color: #264653;
    --font-size: 0.98em;
    --title-font-size: 1.4em;
    --subtitle-font-size: 1.2em;
    --line-height: 1.8em;
    --primary-space: 30px;
    --secondary-space: 20px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: var(--font-size);
}

body {
    background-color: var(--bg-color);
    margin: 0;
    padding: var(--primary-space) var(--secondary-space);
    color: var(--text-color);
    line-height: var(--line-height);
    overflow-y: scroll;
}

main {
    min-height: 80vh;
    max-width: 800px;
    margin: auto;
}

.app-wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

@media (min-width: 1000px) {

    body {
        background-color: var(--bg-second-color);
    }

    .app-wrapper {
        background-color: var(--bg-color);
        padding: var(--primary-space);
        border-radius: 10px;
    }
}

a, button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

hr {
    margin-top: var(--primary-space);
}

h1 {
    margin: calc(var(--primary-space)*2) auto;
    font-size: var(--title-font-size);
    font-weight: bolder;
}

h2, h3 {
    font-size: var(--subtitle-font-size);
    margin: var(--primary-space) 0 calc(var(--primary-space)/2);
}

ul {
    padding: var(--secondary-space);
}

label, input, textarea {
    display: block;
    width: 100%;
    font-size: inherit;
    font-family: inherit;
}

label {
    margin-top: var(--secondary-space);
}

input, textarea {
    padding: 12px;
    margin-bottom: var(--secondary-space);
    max-width: 700px;
}

input:focus, textarea:focus {
    outline: 1px solid var(--bg-second-color);
}

textarea {
    resize: none;
    height: 200px;
}

[type=submit] {
    background-color: #f2f2f2e6;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

P {
    margin-bottom: var(--primary-space/2);
}

.layout-minHeight {
    min-height: 80vh;
}

footer {
    margin-top: 60px;
}
